/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a; /* Fundo escuro */
    color: #fff; /* Texto branco */
    line-height: 1.6;
}

/* Estilo do Menu Fixo */
.menu {
    background-color: #333; /* Fundo do menu */
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); /* Sombra do menu */
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin: 0 15px;
}

.menu ul li a {
    color: #ff6700; /* Laranja Halloween */
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #fff; /* Branco ao passar o mouse */
}

/* Estilo das Seções */
.section {
    padding: 100px 20px;
    text-align: center;
}

.inicio {
    background-color: #1e1e1e;
}

.sobre {
    background-color: #252525;
}

.contato {
    background-color: #2c2c2c;
}

/* Efeitos e Estilo Halloween */
h1, h2 {
    font-family: 'Creepster', cursive; /* Fonte temática de Halloween */
    color: #ff6700; /* Laranja Halloween */
}

p {
    font-size: 18px;
}

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');